/**
 * Media Query Style Exercise: Solved;
 **/

 * {
    box-sizing: border-box;
}


body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
    background-color: lightgrey;
}

/*
    The width of the wrapper will be 768px
    at browser widths above 768px
  */
.wrapper {
    /* Positioning */
    margin: 40px auto;
    border: 2px;
    padding: 30px;
}

.navbar-header{
    border-style: inset;
    border-color: lightcoral;
    background-color:aquamarine;
    text-align: left;
    padding: 20px;
    border-width: 3px;
    align-items: flex-start;
}

#main-content,
#sidebar {
    /* Box-model */
    width: 768px;
    padding: 30px;
    /* Positioning */
    float: left;

    /* Visual */
    background: #eee;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    background-color: darkgrey;
}

@media screen and (max-width: 980px) {
    .wrapper {
    /* Box-model */
        padding: 20px;
}
    

  /* Additional Screen Sizes */

  /* Width at 768px and below */
@media screen and (max-width: 768px) {
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
}
}

  /* Additional Screen Sizes */

  /* Width at 640px and below */
@media screen and (max-width: 640px) {
    .wrapper {
        /* Box-model */
        width: 100%;
        padding: 20px;
}
    .navbar-header {
        width: 100%;
        justify-content: center;
        text-align: center;
}
    .navbar-nav {
        width: 100%;
        justify-content: center;

}
}